.overlay {
    font-size: calc(8px + 1vmin);
    z-index: 2;
}

.char {
    position: absolute;
    font-size: 11vw;
    font-weight: 800;
    padding: 0;
    margin: 0;
    line-height: 0.8em;
    text-align: right;
}
